.bg{
    background-image: linear-gradient(rgb(255, 255, 255),rgb(247, 177, 177));
    padding: 50px;
    border: 30px solid rgb(238, 231, 236);
    text-align: center;
}
.inputbox{
    
    width: 450px;
    margin: auto;
    font-size: 25px; 
    margin-top: 12px;
    
}
.header {
    background-color: #F1F1F1;
    text-align: center;
    
  }
  
.index {
    background-image: linear-gradient(rgb(255, 255, 255),rgb(247, 177, 177));
}
.font {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.home{
    background-image: linear-gradient(rgb(255, 255, 255),rgb(247, 177, 177));
    padding: 50px;
   
    
}